In [11]:
import pandas as pd
address='data.csv'
tweet_data =pd.read_csv(address,parse_dates=True,encoding='latin1')
tweet_data.describe()

                  0    1467810369
count  1.599999e+06  1.599999e+06
mean   2.000001e+00  1.998818e+09
std    2.000001e+00  1.935757e+08
min    0.000000e+00  1.467811e+09
25%    0.000000e+00  1.956916e+09
50%    4.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09